beautifulsoup4
lxml

langchain==0.1.16
langchain-community==0.0.32
langchain-core==0.1.42
langchain-text-splitters==0.0.1
langchain-ollama==0.1.0
langsmith==0.1.17

sentence-transformers
faiss-cpu
huggingface-hub

pandas
numpy

torch